<div class="custom-card mx-auto">
  <div class="card-body">
    
    <h3 class="custom-card-title">
      <%= @user.email %>
    </h3>

    <h4 class="custom-card-subtitle">
      <% if @model %>
        usando el modelo <%= link_to @model.name, model_path(@model) %>
      <% else %>
        sin modelo asignado
      <% end %>
    </h4>

    <hr />

    <% if @controllers.empty?%>
      <p class="custom-card-text">
        <strong>Este usuario no tiene controladores asignados.</strong>
      </p>
    <% else %>
      <p class="custom-card-text">
        <strong>Controladores del usuario:</strong>
      </p>

      <ul>
        <% @controllers.each do |controller| %>
          <li>
            <%= controller.name %>:
            <%= link_to 'Ver', controller_path(controller), class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <hr />

  </div>
</div>

<div style="text-align: center;">
  <%= link_to 'Volver', users_path, class: 'btn btn-info btn-lg' %>
</div>
