<p style="color: green"><%= notice %></p>

<%= render @controladorr %>

<div>
  <%= link_to "Edit this controladorr", edit_controladorr_path(@controladorr) %> |
  <%= link_to "Back to controladorrs", controladorrs_path %>

  <%= button_to "Destroy this controladorr", @controladorr, method: :delete %>
</div>
