<h1>Define los nombres del Controlador y sus Casilleros</h1>

<%= form_with(model: @controller, url: update_controller_path(@controller), method: :patch) do |f| %>
  
  <div class="field">
    <%= f.label :name, "Nombre del Controlador" %>
    <%= f.text_field :name, value: @controller.name %>
  </div>

  <h2>Casilleros</h2>
  <% @controller.lockers.each do |locker| %>
    <div class="field">
      <%= f.fields_for :lockers_attributes, locker do |locker_fields| %>
        <%= locker_fields.label :name, "Nombre de #{locker.name}" %>
        <%= locker_fields.text_field :name, value: locker.name %>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Volver", available_controllers_path, class: "btn btn-info" %>
  <%= f.submit "Agregar Controlador", class: "btn btn-success" %>
<% end %>
