<h1 class= "ms-5 mt-3">Crear Controlador<h1>
<div class="container">
    <div class="">
        <%= form_with(model: @controller, local: true) do |form| %>
        <% if @controller.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@controller.errors.count, "error") %> impidió que se guardara el controlador:</h2>
            <ul>
                <% @controller.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div class="form-group my-3">
            <%= form.label :name, class: 'form-label fs-5' %>
            <%= form.text_field :name, class: 'form-control', placeholder: 'Ingresa el nombre del controlador' %>
        </div>

        <div class="form-group my-3">
            <%= form.label :esp32_mac_address, class: 'fs-5 form-label' %>
            <%= form.text_field :esp32_mac_address, class: 'form-control', placeholder: 'Ingresa la dirección MAC del ESP32' %>
        </div>

        <div class="form-group my-3">
            <%= form.label :locker_count, class: 'fs-5 form-label' %>
            <%= form.number_field :locker_count, class: 'form-control', placeholder: 'Ingresa el número de casilleros', max: 4 %>
        </div>

        <div class="form-group mt-3">
            <%= form.submit 'Crear Controlador', class: 'btn btn-primary' %>
        </div>
        <% end %>
    <div>
<div>
