<div>
  <div style="text-align: center;">
    <h1>
      Verifica o desvincula tu controlador
    </h1>
  </div>

  <br />

  <div class="custom-card mx-auto">
    <div class="card-body">
      <h5 class="custom-card-title">
        <%= @controller.name %>
      </h5>

      <h6 class="custom-card-subtitle">
        <% if @model.present? %>
          usando <%= link_to @model.name, model_path(@model) %>
        <% else %>
          No tiene un modelo asignado
        <% end %>
      </h6>

      <p class="custom-card-text">
        <strong> Estado de conexión: </strong>
        <% if @connected %>
          <span class="text-success">Conectado</span>
        <% else %>
          <span class="text-danger">Desconectado</span>
        <% end %>

        <% if current_user.is_admin %>
          <p class="custom-card-text">
            <% if @user.nil? %>
              <strong> No esta asignado a ningún usuario </strong>
            <% else %>
              <strong> Asignado a: </strong> <%= link_to @user.email, user_path(@user) %> 
            <% end %>
          </p>
        <% end %>

      </p>

      <p>
        <strong>Última conexión:</strong>
        <% if @controller.last_seen_at.present? %>
          <%= time_ago_in_words(@controller.last_seen_at) %> ago
        <% else %>
          Nunca conectado
        <% end %>
      </p>


      <!-- Contenedor con display flex para los botones -->
      <div class="d-flex justify-content-end mt-3">

        <% if @model.present? %>
          <%= link_to 'Ver Modelo', model_path(@model), class: 'btn btn-primary me-2' %>
        <% else %>
          <%= link_to 'Modelos', models_path, class: 'btn btn-primary me-2' %>
        <% end %>
        
        <%= link_to 'Verificar conexión', verify_connection_controller_path(@controller), class: 'btn btn-info me-2' %>

        <%= button_to 'Desvincular', unlink_from_user_controller_path(@controller), method: :patch, data: { confirm: '¿Estás seguro de que quieres desvincular este controlador?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

  <div class="custom-card mx-auto">
    
    <div class="card-header">
      <h5 class="custom-card-title">
        Casilleros
      </h5>
    </div>

    <ul class="list-group list-group-flush">
      <% @lockers.each do |locker| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= locker.name %> - <%= locker.owner_email.present? ? 
            locker.owner_email 
            : "Sin dueño" 
          %>

          <%= link_to 'Ver', locker_path(locker), class: 'btn btn-info btn-sm' %>
        </li>
      <% end %>
    </ul>

    <!-- Botón para enviar claves al MQTT -->
    
    <div class="mt-4 text-center">
      <%= button_to 'Enviar claves', send_keys_mqtt_path(@controller.id), method: :post, class: 'btn btn-success' %>
    </div>
    
  </div>

  <div style="text-align: center;">
    <%= link_to 'Volver', controllers_path, class: 'btn btn-info btn-lg'%>
  </div>
  <br />
</div>
